body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body header {
  background: #EDF2EC;
  height: 134px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  body header {
    height: 117px;
  }
}
@media screen and (max-width: 799px) {
  body header {
    height: 96px;
  }
}
body header .wrapper {
  max-width: 1222px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 109px;
}
@media screen and (max-width: 992px) {
  body header .wrapper {
    padding-inline: 50px;
  }
}
@media screen and (max-width: 799px) {
  body header .wrapper {
    padding-inline: 25px;
  }
}
body header .wrapper .logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
body header .wrapper .logo img .logo_vector {
  width: 20px;
  height: 20px;
}
body header .wrapper .logo .log_text {
  font-family: "Inika", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-right: 30px;
}
@media screen and (min-width: 800px) {
  body header .wrapper .navigation {
    display: none;
  }
}
body header .wrapper .navigation #menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 5px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
body header .wrapper .navigation #menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
body header .wrapper .navigation #menuToggle a:hover {
  color: tomato;
}
body header .wrapper .navigation #menuToggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  right: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
body header .wrapper .navigation #menuToggle span {
  display: block;
  width: 40px;
  height: 4px;
  margin-bottom: 6px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
body header .wrapper .navigation #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
body header .wrapper .navigation #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(10px, 0px);
  background: #232323;
}
body header .wrapper .navigation #menuToggle input:checked ~ span:nth-last-child(1) {
  transform: rotate(-45deg) translate(2px, 2px);
}
body header .wrapper .navigation #menuToggle input:checked ~ span:nth-last-child(4) {
  transform: rotate(45deg) translate(10px, 0px);
}
body header .wrapper .navigation #menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
body header .wrapper .navigation #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
body header .wrapper .navigation #menu {
  position: relative;
  width: 300px;
  margin: -100px 0 0 50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(200%, 0);
  transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
}
body header .wrapper .navigation #menu li {
  padding: 10px 0;
  font-size: 22px;
}
body header .wrapper .navigation #menuToggle input:checked ~ ul {
  transform: none;
}
body header .wrapper .navbar {
  max-width: 452px;
  width: 100%;
  margin-left: 30px;
}
@media screen and (max-width: 799px) {
  body header .wrapper .navbar {
    display: none;
  }
}
body header .wrapper .navbar ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
body header .wrapper .navbar ul li {
  list-style-type: none;
}
body header .wrapper .navbar ul li a {
  text-decoration: none;
  font-family: "Inika", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #010201;
}
@media screen and (max-width: 992px) {
  body header .wrapper .navbar ul li a {
    line-height: 50px;
  }
}
body header .wrapper .navbar ul li .active_tag {
  color: #E06733;
}
body main .welcome {
  background: #EDF2EC;
  height: 532px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1175px) {
  body main .welcome {
    height: 420px;
  }
}
@media screen and (max-width: 799px) {
  body main .welcome {
    height: 300px;
  }
}
body main .welcome .wrapper {
  display: flex;
  padding: 62px 109px;
  max-width: 1222px;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 1175px) {
  body main .welcome .wrapper {
    flex-direction: row-reverse;
    padding: 40px 70px;
  }
}
@media screen and (max-width: 799px) {
  body main .welcome .wrapper {
    padding: 24px 25px;
    justify-content: center;
  }
}
body main .welcome .wrapper img {
  height: 407.3581542969px;
  width: 448.7954406738px;
}
@media screen and (max-width: 1175px) {
  body main .welcome .wrapper img {
    height: 254.1476135254px;
    width: 280px;
  }
}
@media screen and (max-width: 799px) {
  body main .welcome .wrapper img {
    display: none;
  }
}
body main .welcome .wrapper .welcome-text {
  display: flex;
  flex-direction: column;
  max-width: 549px;
  max-height: 340px;
  gap: 42px;
}
@media screen and (max-width: 1175px) {
  body main .welcome .wrapper .welcome-text {
    max-width: 346px;
    max-height: 310px;
    gap: 30px;
  }
}
@media screen and (max-width: 799px) {
  body main .welcome .wrapper .welcome-text {
    max-width: 600px;
    max-height: 252px;
    gap: 20px;
  }
}
body main .welcome .wrapper .welcome-text h1 {
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 1175px) {
  body main .welcome .wrapper .welcome-text h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 799px) {
  body main .welcome .wrapper .welcome-text h1 {
    font-size: 25px;
    line-height: 35px;
  }
}
body main .welcome .wrapper .welcome-text h1 span {
  color: #499A18;
}
body main .welcome .wrapper .welcome-text p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 1175px) {
  body main .welcome .wrapper .welcome-text p {
    font-size: 16px;
    line-height: 25px;
  }
}
body main .welcome .wrapper .welcome-text .learn-more {
  height: 44px;
  width: 158px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 6px;
  cursor: pointer;
}
body main .welcome .wrapper .welcome-text button:hover {
  background-color: #E06733;
  color: #fff;
}
body main .about {
  background: #fff;
  height: 666px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1175px) {
  body main .about {
    height: 783px;
  }
}
@media screen and (max-width: 799px) {
  body main .about {
    height: 516px;
  }
}
body main .about .wrapper {
  display: flex;
  padding: 93px 109px;
  max-width: 1222px;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 1175px) {
  body main .about .wrapper {
    flex-direction: column;
    padding: 40px 50px;
    align-items: center;
  }
}
@media screen and (max-width: 799px) {
  body main .about .wrapper {
    padding: 30px 25px;
    height: 516px;
    justify-content: start;
  }
}
body main .about .wrapper .about-text {
  display: flex;
  flex-direction: column;
  max-width: 605px;
  max-height: 350px;
  gap: 40px;
}
@media screen and (max-width: 1175px) {
  body main .about .wrapper .about-text {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 799px) {
  body main .about .wrapper .about-text {
    width: 100%;
    height: 516px;
    gap: 21px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
body main .about .wrapper .about-text h2 {
  padding-top: 68px;
  max-width: 463px;
  font-family: "Inika", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #499A18;
  margin: 0;
}
@media screen and (max-width: 1175px) {
  body main .about .wrapper .about-text h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    padding-top: 0px;
    max-width: 463px;
  }
}
@media screen and (max-width: 799px) {
  body main .about .wrapper .about-text h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
  }
}
body main .about .wrapper .about-text h2 span {
  color: #E06733;
}
body main .about .wrapper .about-text p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 1175px) {
  body main .about .wrapper .about-text p {
    max-width: 1200px;
    width: 100%;
  }
}
@media screen and (max-width: 799px) {
  body main .about .wrapper .about-text p {
    max-width: 800px;
  }
}
@media screen and (max-width: 1175px) {
  body main .about .wrapper img {
    height: 258px;
    width: 250px;
  }
}
@media screen and (max-width: 799px) {
  body main .about .wrapper img {
    height: 147px;
    width: 150px;
  }
}
body main .service {
  background: #EDF2EC;
  height: 1300px;
  display: flex;
  justify-content: center;
}
body main .service .wrapper {
  display: flex;
  padding: 40px 109px;
  max-width: 1222px;
  width: 100%;
  flex-direction: column;
}
body main .service .wrapper .service-content {
  max-width: 1007px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body main .service .wrapper .service-content h2 {
  font-family: "Inika", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  max-width: 306px;
  color: #499A18;
}
body main .service .wrapper .service-content .service_btns {
  display: flex;
  justify-content: space-between;
  max-width: 559px;
  width: 100%;
  margin-top: 29px;
}
body main .service .wrapper .service-content .service_btns .servise-btn {
  height: 50px;
  width: 161px;
  border-radius: 5px;
  background-color: transparent;
  color: #E06733;
  border: 1px solid #E06733;
  cursor: pointer;
}
body main .service .wrapper .service-content .service_btns button:hover {
  background-color: #E06733;
  color: #fff;
}
body main .service .wrapper .servisces {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
body main .service .wrapper .servisces .service-item {
  width: 330px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 52px;
}
body main .service .wrapper .servisces .service-item h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  color: #E06733;
}
body main .service .wrapper .servisces .service-item p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  color: #717171;
}
body main .price {
  background: #fff;
  height: 560px;
  display: flex;
  justify-content: center;
}
body main .price .wrapper {
  display: flex;
  padding: 40px 109px;
  max-width: 1222px;
  width: 100%;
  justify-content: space-between;
}
body main .price .wrapper .prices h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin: 0;
  padding-bottom: 60px;
}
body main .price .wrapper .prices .prices_items {
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  padding: 34px 41px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
body main .price .wrapper .prices .prices_items .price_item {
  height: 50px;
  width: 250px;
  border-radius: 25px;
  background: #EDF2EC;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main .price .wrapper .prices .prices_items .price_item span {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px 40px;
}
body main .price .wrapper .prices .prices_items .price_item .click-cta {
  background-color: #d9d9d9;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  margin: 16px 40px 16px 0;
  justify-content: center;
  align-items: center;
}
body main .price .wrapper .call-us {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 38px;
}
body main .price .wrapper .call-us h3 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: right;
  color: #000;
  margin: 0;
  width: 452px;
}
body main .price .wrapper .call-us h3 span {
  color: #499A18;
}
body main .price .wrapper .call-us .cta {
  border: 1px solid #E06733;
  height: 50px;
  width: 162px;
  border-radius: 5px;
  color: #E06733;
  background-color: transparent;
  cursor: pointer;
}
body main .price .wrapper .call-us button:hover {
  background-color: #E06733;
  color: #fff;
}
body main .price .wrapper .call-us img {
  margin-top: 1px;
  height: 175px;
  width: 152px;
  border-radius: 0px;
}
body main .contacts {
  background: #EDF2EC;
  height: 550px;
  display: flex;
  justify-content: center;
}
body main .contacts .wrapper {
  display: flex;
  padding: 53px 109px 0;
  max-width: 1222px;
  width: 100%;
}
body main .contacts .wrapper .contact_us h2 {
  font-family: "Inika", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #499A18;
  margin: 7px 0 0;
  padding-left: 113px;
}
body main .contacts .wrapper .contact_us .contacts_city {
  background: #D6E7D2;
  height: 50px;
  width: 450px;
  top: 148px;
  border-radius: 0px;
  display: flex;
  margin-left: 372px;
  margin-top: 37px;
}
body main .contacts .wrapper .contact_us .contacts_city span {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #717171;
  margin: 0;
}
body main .contacts .wrapper .contact_us .contacts_city .click-cta {
  background-color: #AEA1A1;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  margin: 16px 40px 16px 0;
  justify-content: center;
  align-items: center;
}
body footer {
  background: #fff;
  height: 130px;
  display: flex;
  justify-content: center;
}
body footer .wrapper {
  max-width: 1222px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 109px;
}
body footer .wrapper .copy_ragths {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
body footer .wrapper .copy_ragths span {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
body footer .wrapper .copy_ragths a {
  text-decoration: none;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
body footer .wrapper .sotial_media {
  display: flex;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */